In [44]:
# Instructor Demo
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps
import requests
import json
# Google developer API key
from config import gkey

# Access maps with unique API key
# gmaps.configure(api_key=gkey)

In [46]:
properties_path= "properties.csv"

In [47]:
# drop unnamed column tried all of these options
# properties_data.dropna(how='all', axis=1)
# properties_data=pd.read_csv('properties.csv', index_col=0)
properties_data = pd.read_csv(properties_path)
properties_data.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
properties_data.drop(["a"], axis=1, inplace=True)
properties_data.rename({"Price ($)":"Price"}, axis="columns", inplace=True)
properties_data.head()

,Address,AreaName,Price,lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [49]:
# when running map function, there were found NaN data in lat and lng, use drop 
properties_data_clean=properties_data.dropna()

In [50]:
properties_data_clean.describe()

              Price           lat           lng
count  2.486800e+04  24868.000000  24868.000000
mean   5.669701e+05     43.939495    -79.382865
std    8.533163e+05      1.006421      2.383697
min    0.000000e+00     36.160065   -122.553154
25%    2.215000e+05     43.404707    -80.286264
50%    3.749000e+05     43.714592    -79.499923
75%    6.199000e+05     44.434961    -79.118414
max    3.250000e+07     53.851017      1.074519

In [53]:
#filter price higher than 50,000
properties_data_clean=properties_data_clean.loc[properties_data_clean["Price"] >= 50000]
properties_data_clean.describe()

              Price           lat           lng
count  2.337800e+04  23378.000000  23378.000000
mean   6.022072e+05     43.943489    -79.346165
std    8.682249e+05      0.990750      2.389382
min    5.000000e+04     36.160065   -118.061340
25%    2.499000e+05     43.426093    -80.264731
50%    3.980000e+05     43.717644    -79.485542
75%    6.490000e+05     44.430436    -79.103004
max    3.250000e+07     53.851017      1.074519

In [54]:
properties_data_clean.dtypes

Address      object
AreaName     object
Price         int64
lat         float64
lng         float64
dtype: object

In [ ]:
#try filter by address, map is better with areaname
properties_tor=properties_data_clean[properties_data_clean['Address'].str.contains("Toronto")]

In [ ]:
properties_tor["postal_code"] = ""
properties_tor["neighbourhood"] = ""
properties_tor.head()

In [ ]:
# figure_layout = {
#     'width': '400px',
#     'height': '300px',
#     'border': '1px solid black',
#     'padding': '1px',
#     'margin': '0 auto 0 auto'
# }
# fig = gmaps.figure(layout=figure_layout)

In [ ]:
# # Assign the marker layer to a variable
# markers = gmaps.marker_layer(locations)
# # Add the layer to the map
# fig.add_layer(markers)
# fig

In [ ]:
# update each iteration
for index, row in properties_tor.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lng"]
    gkey= gkey
    coordinates=f"{lat},{lng}" 
    target_url =(f"https://maps.googleapis.com/maps/api/geocode/json?latlng={coordinates}&key={gkey}")
    response = requests.get(target_url)
    response_json=response.json()
    properties_tor.loc[index, "postal_code"] = response_json["results"][0]["address_components"][-1]["long_name"]
    properties_tor.loc[index, "neighbourhood"] = response_json["results"][1]["address_components"][2]["long_name"]

In [ ]:
properties_tor

In [ ]:
with open(‘postalcode_added.csv’,mode=‘a’) as f:
first_df.to_csv(‘postalcode_added.csv’, index = False, header = False, mode=‘a’)