In [72]:
# Instructor Demo
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps

# Google developer API key
from gkey import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [77]:
properties_path= "properties.csv"

In [78]:
# drop unnamed column tried all of these options
# properties_data.dropna(how='all', axis=1)
# properties_data=pd.read_csv('properties.csv', index_col=0)
properties_data = pd.read_csv(properties_path)
properties_data.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
properties_data.drop(["a"], axis=1, inplace=True)

properties_data.head()

,Address,AreaName,Price ($),lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [79]:
properties_data.dtypes

Address       object
AreaName      object
Price ($)      int64
lat          float64
lng          float64
dtype: object

In [62]:
# Dealing with special characters, removing each special character separtely
properties_data.columns = properties_data.columns.str.replace('$', ' ')
properties_data.columns = properties_data.columns.str.replace('(', ' ')
properties_data.columns = properties_data.columns.str.replace(')', ' ')
properties_data.head()

,Address,AreaName,Price,lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [80]:
properties_data.dtypes

Address       object
AreaName      object
Price ($)      int64
lat          float64
lng          float64
dtype: object

In [81]:
# when running map function, there were found NaN data in lat and lng, use drop 
properties_drop=properties_data.dropna()

In [82]:
properties_drop.describe()

          Price ($)           lat           lng
count  2.486800e+04  24868.000000  24868.000000
mean   5.669701e+05     43.939495    -79.382865
std    8.533163e+05      1.006421      2.383697
min    0.000000e+00     36.160065   -122.553154
25%    2.215000e+05     43.404707    -80.286264
50%    3.749000e+05     43.714592    -79.499923
75%    6.199000e+05     44.434961    -79.118414
max    3.250000e+07     53.851017      1.074519

In [87]:
#try filter by address, map is better with areaname
properties_tor=properties_drop[properties_drop['AreaName'].str.contains("Toronto")]
properties_tor.describe()

          Price ($)         lat         lng
count  4.240000e+02  424.000000  424.000000
mean   1.176637e+06   43.694392  -79.399398
std    1.735226e+06    0.044623    0.048687
min    2.500000e+01   43.594883  -79.537346
25%    3.498750e+05   43.672212  -79.415481
50%    5.994500e+05   43.687865  -79.395897
75%    1.262000e+06   43.709171  -79.388796
max    1.488000e+07   43.827942  -79.258430

In [88]:
locations= properties_tor[["lat", "lng"]]
print(locations)

             lat        lng
16     43.662872 -79.423233
86     43.691135 -79.415573
100    43.708542 -79.402115
123    43.824669 -79.274445
128    43.665710 -79.409096
144    43.689011 -79.400002
261    43.676369 -79.405739
266    43.674103 -79.388809
272    43.685440 -79.395966
273    43.717831 -79.395996
278    43.711781 -79.391640
288    43.708008 -79.400787
294    43.685623 -79.409592
298    43.702080 -79.437904
307    43.671864 -79.393814
331    43.751030 -79.465858
381    43.711784 -79.435150
383    43.688213 -79.433723
394    43.717461 -79.378860
611    43.640354 -79.426109
612    43.718014 -79.392662
620    43.692696 -79.414703
626    43.696072 -79.404770
629    43.733105 -79.393219
631    43.669445 -79.392250
633    43.678749 -79.414062
667    43.761047 -79.410904
669    43.673172 -79.389687
685    43.670319 -79.394432
688    43.708694 -79.394318
...          ...        ...
21613  43.672371 -79.387436
21616  43.710625 -79.381691
21617  43.709480 -79.421585
21635  43.706940 -79.396904
21650  43.702991 -79.503532
21655  43.598866 -79.513947
21697  43.687897 -79.396156
21699  43.719627 -79.399826
21703  43.671654 -79.394600
21720  43.688107 -79.385658
21731  43.671551 -79.390503
21747  43.663834 -79.417755
21755  43.690948 -79.439896
21760  43.688816 -79.432076
21784  43.761047 -79.410904
21787  43.719818 -79.391922
21797  43.705097 -79.397514
21825  43.761047 -79.410904
21827  43.761047 -79.410904
21835  43.673172 -79.389687
22548  43.670319 -79.394432
22557  43.710548 -79.379990
22558  43.653225 -79.383186
22574  43.708008 -79.400787
22585  43.712566 -79.399895
22601  43.682308 -79.423828
22603  43.717091 -79.429459
24026  43.670078 -79.393288
24028  43.686676 -79.399445
24036  43.696083 -79.508209

[424 rows x 2 columns]

In [89]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [90]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦