In [1]:
# Instructor Demo
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [2]:
properties_path= "properties.csv"

In [3]:
# drop unnamed column tried all of these options
# properties_data.dropna(how='all', axis=1)
# properties_data=pd.read_csv('properties.csv', index_col=0)
properties_data = pd.read_csv(properties_path)
properties_data.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
properties_data.drop(["a"], axis=1, inplace=True)

properties_data.head()

,Address,AreaName,Price ($),lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [4]:
properties_data.dtypes

Address       object
AreaName      object
Price ($)      int64
lat          float64
lng          float64
dtype: object

In [5]:
# Dealing with special characters, removing each special character separtely
properties_data.columns = properties_data.columns.str.replace('$', ' ')
properties_data.columns = properties_data.columns.str.replace('(', ' ')
properties_data.columns = properties_data.columns.str.replace(')', ' ')
properties_data.head()

,Address,AreaName,Price,lat,lng
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [6]:
properties_data.dtypes

Address       object
AreaName      object
Price          int64
lat          float64
lng          float64
dtype: object

In [7]:
# when running map function, there were found NaN data in lat and lng, use drop 
properties_drop=properties_data.dropna()

In [8]:
properties_drop.describe()

          Price               lat           lng
count  2.486800e+04  24868.000000  24868.000000
mean   5.669701e+05     43.939495    -79.382865
std    8.533163e+05      1.006421      2.383697
min    0.000000e+00     36.160065   -122.553154
25%    2.215000e+05     43.404707    -80.286264
50%    3.749000e+05     43.714592    -79.499923
75%    6.199000e+05     44.434961    -79.118414
max    3.250000e+07     53.851017      1.074519

In [9]:
#try filter by address, map is better with areaname
properties_tor=properties_drop[properties_drop['Address'].str.contains("Toronto")]
properties_tor.describe()

          Price              lat          lng
count  5.092000e+03  5092.000000  5092.000000
mean   7.499997e+05    43.709791   -79.392380
std    1.121114e+06     0.061736     0.110521
min    0.000000e+00    43.587688   -80.842804
25%    3.250000e+05    43.653177   -79.452715
50%    4.750000e+05    43.704050   -79.394135
75%    7.498880e+05    43.765161   -79.337746
max    2.680000e+07    44.232288   -76.504181

In [10]:
locations= properties_tor[["lat", "lng"]]
print(locations)

             lat        lng
0      43.679882 -79.544266
4      43.651478 -79.368118
5      43.686375 -79.328918
6      43.691193 -79.461662
11     43.664101 -79.439751
12     43.697842 -79.317368
13     43.635578 -79.441345
14     43.635578 -79.441345
15     43.666794 -79.388756
16     43.662872 -79.423233
17     43.749599 -79.270844
18     43.692314 -79.552635
19     43.642578 -79.376900
20     43.799480 -79.357445
21     43.788639 -79.207932
22     43.759003 -79.392075
23     43.799358 -79.377914
24     43.807091 -79.265533
25     43.682270 -79.443390
26     43.740097 -79.273987
27     43.733814 -79.250000
28     43.726189 -79.582047
29     43.774624 -79.298141
30     43.769413 -79.211456
31     43.684170 -79.516685
32     43.772118 -79.309311
33     43.805099 -79.211960
34     43.792187 -79.365669
35     43.650372 -79.382347
36     43.821087 -79.314796
...          ...        ...
22606  43.760998 -79.410202
22607  43.623608 -79.484077
22608  43.780670 -79.418343
22609  43.731674 -79.576454
22610  43.781670 -79.247215
23847  43.698143 -79.513771
23848  43.692989 -79.474442
24014  43.640163 -79.378647
24015  43.679874 -79.469025
24025  43.755661 -79.234169
24026  43.670078 -79.393288
24027  43.675190 -79.555496
24028  43.686676 -79.399445
24029  43.779205 -79.281517
24030  43.635578 -79.441345
24031  43.765575 -79.386047
24032  43.624306 -79.480461
24033  43.764915 -79.487801
24034  43.633606 -79.489639
24035  43.719894 -79.513771
24036  43.696083 -79.508209
24037  43.775249 -79.192978
24038  43.715466 -79.369461
24039  43.703876 -79.364830
24042  43.640301 -79.562302
24045  43.730038 -79.431122
24046  43.636810 -79.432549
24047  43.642509 -79.377365
24048  43.621059 -79.501091
24114  43.822536 -79.217674

[5092 rows x 2 columns]

In [11]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [12]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [13]:
#Retreive Postal Code and neighborhood
# Set up new column 
properties_tor['Postal Code'] = ""
properties_tor['Neighborhood'] = ""
properties_tor = properties_tor.reset_index(drop=True)
properties_tor.head()

/Users/ericH/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/ericH/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Address,AreaName,Price,lat,lng,Postal Code,Neighborhood
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266,,
1,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118,,
2,"254A Monarch Park Ave Toronto, ON",Old East York,1488000,43.686375,-79.328918,,
3,"532 Caledonia Rd Toronto, ON",Fairbank,25,43.691193,-79.461662,,
4,"47 Armstrong Ave Toronto, ON",Wallace Emerson,113,43.664101,-79.439751,,

In [14]:
# Loop through the cities_pd and run a lat/long search for each city
for index, row in properties_tor.iterrows():
    

    latitude = row['lat']
    longitude = row['lng']
#Build the query url
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?key=" + gkey + "&latlng=" + f"{latitude},{longitude}"



    # make request
    postalcode_neigh = requests.get(base_url)
    
    
    # convert to json
    postalcode_neigh = postalcode_neigh.json()

    properties_tor.loc[index, "Postal Code"] = postalcode_neigh["results"][0]["address_components"][-1]["long_name"]
    properties_tor.loc[index, "Neighborhood"] = postalcode_neigh["results"][0]["address_components"][2]["long_name"]

# Visualize to confirm lat lng appear
properties_tor.head()

IndexError: list index out of range

In [15]:
properties_tor

,Address,AreaName,Price,lat,lng,Postal Code,Neighborhood
0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266,M9R 2N8,Etobicoke
1,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118,M5A 2P8,Old Toronto
2,"254A Monarch Park Ave Toronto, ON",Old East York,1488000,43.686375,-79.328918,M4J 4S5,East York
3,"532 Caledonia Rd Toronto, ON",Fairbank,25,43.691193,-79.461662,M6E 4V4,York
4,"47 Armstrong Ave Toronto, ON",Wallace Emerson,113,43.664101,-79.439751,M6H 1V9,Old Toronto
5,"3 Bracebridge Ave Toronto, ON",Old East York,599900,43.697842,-79.317368,M4C 2X6,East York
6,"#808 - 2167 Lake Shore Blvd Toronto, ON",Parkdale,97,43.635578,-79.441345,M6K 3C1,Old Toronto
7,"#2706 - 2167 Lake Shore Blvd Toronto, ON",Parkdale,49,43.635578,-79.441345,M6K 3C1,Old Toronto
8,"#710 - 1080 Bay St Toronto, ON",Downtown,805900,43.666794,-79.388756,M5S 0A5,Old Toronto
9,"#A - 753 Shaw St Toronto, ON",Midtown Toronto,97,43.662872,-79.423233,M6G 3L9,Old Toronto
10,"160 Jenkinson Way Toronto, ON",Dorset Park,549900,43.749599,-79.270844,M1P 5H4,Scarborough
11,"40 Hawthorne Rd Toronto, ON",Richview,850000,43.692314,-79.552635,M9R 1P3,Etobicoke
12,"#4905 - 16 Harbour St Toronto, ON",Downtown,1348000,43.642578,-79.376900,M5J 2Y4,Old Toronto
13,"166 Mcnicoll Ave Toronto, ON",Hillcrest Village,129,43.799480,-79.357445,M2H 2B9,North York
14,"430 Military Tr Toronto, ON",Morningside,675000,43.788639,-79.207932,M1E 4E7,Scarborough
15,"67 Montressor Dr Toronto, ON",St. Andrew - Windfields,113,43.759003,-79.392075,M2P 1Z3,North York
16,"46 Bruce Farm Dr Toronto, ON",Bayview Woods - Steeles,49,43.799358,-79.377914,M2H 1G5,North York
17,"#1215 - 2627 Mccowan Rd Toronto, ON",Agincourt,49,43.807091,-79.265533,M1S 5T1,Scarborough
18,"247 Westmount Ave Toronto, ON",St. Clair West Village,25,43.682270,-79.443390,M6E 3M9,York
19,"31 Yorkshire Rd Toronto, ON",Ionview,499900,43.740097,-79.273987,M1K 3B7,Scarborough
20,"34 Ordway Rd Toronto, ON",Kennedy Park,599000,43.733814,-79.250000,M1K 4J4,Scarborough
21,"47 Waterbeach Cres Toronto, ON",Rexdale,549900,43.726189,-79.582047,M9W 3L9,Etobicoke
22,"2 Moraine Hill Dr Toronto, ON",Tam O'Shanter,698000,43.774624,-79.298141,M1T 1Z9,Scarborough
23,"11 Mid Pines Rd Toronto, ON",Woburn,145,43.769413,-79.211456,M1G 2L6,Scarborough
24,"#1002 - 61 Richview Rd Toronto, ON",Humber Heights - Westmount,25,43.684170,-79.516685,M9A 4M8,Etobicoke
25,"20 Shrewsbury Sq Toronto, ON",Tam O'Shanter - Sullivan,145,43.772118,-79.309311,M1T 1L2,Scarborough
26,"#18 - 170 Wickson Tr Toronto, ON",Malvern,338000,43.805099,-79.211960,M1B 1M4,Scarborough
27,"6 Willesden Rd Toronto, ON",Don Valley Village,699800,43.792187,-79.365669,M2H 1V5,North York
28,"#2705 - 70 Temperance St Toronto, ON",Downtown,325000,43.650372,-79.382347,M5H 3V5,Old Toronto
29,"37 Chapel Park Sq Toronto, ON",Milliken,25,43.821087,-79.314796,M1V 2S5,Scarborough
...,...,...,...,...,...,...,...
5062,"#516 -51- 4789 YONGE ST Toronto, ON",Willowdale,2999888,43.760998,-79.410202,,
5063,"#4403 - 36 PARK LAWN RD Toronto, ON",Humber Bay,760000,43.623608,-79.484077,,
5064,"#522 - 25 GREENVIEW AVE Toronto, ON",Newtonbrook,378800,43.780670,-79.418343,,
5065,"#315 - 80 ESTHER LORRIE DR Toronto, ON",Rexdale,319500,43.731674,-79.576454,,
5066,"#3516 - 36 LEE CENTRE DR Toronto, ON",Woburn,266800,43.781670,-79.247215,,
5067,"#1808 - 1 Hickory Tree Rd Toronto, ON",Weston,225000,43.698143,-79.513771,,
5068,"2071 KEELE ST Toronto, ON",Silverthorn,624900,43.692989,-79.474442,,
5069,"#P6187 - 55 Harbour Sq Toronto, ON",Downtown,30000,43.640163,-79.378647,,
5070,"45 LAVENDER RD Toronto, ON",Silverthorn,659900,43.679874,-79.469025,,
5071,"4 FELICITY DR Toronto, ON",Woburn,749999,43.755661,-79.234169,,
5072,"#Main F- 154 CUMBERLAND ST Toronto, ON",Midtown Toronto,199000,43.670078,-79.393288,,
5073,"#108 - 201 LLOYD MANOR RD Toronto, ON",Princess Margaret,85000,43.675190,-79.555496,,
5074,"#1417 - 111 ST CLAIR AVE W Toronto, ON",Midtown Toronto,1395000,43.686676,-79.399445,,
5075,"#2012 - 181 VILLAGE GREEN SQ Toronto, ON",Agincourt,279900,43.779205,-79.281517,,
5076,"#2706 - 2167 LAKE SHORE BLVD Toronto, ON",Parkdale,330000,43.635578,-79.441345,,
5077,"#1202 - 18 KENASTON GDNS Toronto, ON",Bayview Village,488000,43.765575,-79.386047,,
5078,"#3504 - 2175 LAKE SHORE BLVD W Toronto, ON",Mimico,525000,43.624306,-79.480461,,
5079,"#13 - 1270 FINCH AVE W Toronto, ON",York University Heights,419000,43.764915,-79.487801,,
5080,"58 CANNON RD Toronto, ON",Humber Bay,1599000,43.633606,-79.489639,,
5081,"15 B DALLNER RD Toronto, ON",Downsview,799999,43.719894,-79.513771,,
5082,"1634 WESTON RD Toronto, ON",Toronto,1189000,43.696083,-79.508209,,
5083,"69 WEIR CRES Toronto, ON",West Hill,649000,43.775249,-79.192978,,
5084,"517 BROADWAY AVE Toronto, ON",Leaside,2549000,43.715466,-79.369461,,
5085,"874 MILLWOOD RD Toronto, ON",Leaside,2200000,43.703876,-79.364830,,
5086,"#1205 - 6 Eva Rd Toronto, ON",Eatonville,270000,43.640301,-79.562302,,
5087,"124 BARSE ST Toronto, ON",Nortown,1799000,43.730038,-79.431122,,
5088,"153 DUNN AVE Toronto, ON",Parkdale,2200000,43.636810,-79.432549,,
5089,"#1204 - 33 Bay St Toronto, ON",Downtown,568000,43.642509,-79.377365,,
5090,"2 EVANS AVE Toronto, ON",Mimico,1350000,43.621059,-79.501091,,
5091,"11 Knowles Dr Toronto, ON",Morningside Heights,649900,43.822536,-79.217674,,